---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/github-markdown.css" />

<article id="main">
  <header class="special container"></header>

  <section class="style4 wrapper container">
    <div class="markdown-body">
      <h3 class="post-title">{{ page.title }}</h3>

      <div class="post-meta-container">
        <div>
          <span class="post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
          <span class="post-separator">|</span>
          <script
            async
            src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
          ></script>
          <span class="post-views"
            >Views: <span id="busuanzi_value_page_pv"></span
          ></span>
        </div>
      </div>

      <hr />

      <!-- Information -->
      <h4 class="section-title">Information</h4>
      <table class="info-table">
        <tbody>
          <tr>
            <th style="text-align: left; padding-right: 12px">일자</th>
            <td>{{ page.date | date: "%Y년 %m월 %d일" }}</td>
          </tr>
          <tr>
            <th style="text-align: left; padding-right: 12px">
              {% if page.type == "ai_seminar" %}발표자{% else %}저자{% endif %}
            </th>
            <td>{{ page.author }}</td>
          </tr>

          {% if page.type == "paper" and page.extra_info %}
          <tr>
            <th style="text-align: left; padding-right: 12px">저널명</th>
            <td>{{ page.extra_info }}</td>
          </tr>
          {% endif %} {% if page.type == "conference" and page.extra_info %}
          <tr>
            <th style="text-align: left; padding-right: 12px">학술대회</th>
            <td>{{ page.extra_info }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <br />

      <!-- Video -->
      <h4 class="section-title">Video</h4>

      {%- assign url = page.video_url | default: "" -%} {%- assign youtube_id =
      "" -%} {%- if url contains "youtu.be/" -%} {%- assign tmp = url | split:
      "youtu.be/" -%} {%- assign youtube_id = tmp[1] | split: "?" | first |
      split: "&" | first -%} {%- elsif url contains "youtube.com/watch" -%} {%-
      assign tmp = url | split: "v=" -%} {%- assign youtube_id = tmp[1] | split:
      "&" | first -%} {%- elsif url contains "youtube.com/embed/" -%} {%- assign
      tmp = url | split: "youtube.com/embed/" -%} {%- assign youtube_id = tmp[1]
      | split: "?" | first | split: "&" | first -%} {%- endif -%}

      <div
        style="
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;
        "
      >
        <iframe
          src="https://www.youtube.com/embed/{{ youtube_id }}"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <br />

      <!-- Overview -->
      <h4 class="section-title">Overview</h4>
      <div class="overview-body">{{ content }}</div>

      <!-- QnA
      {% if page.type == "ai_seminar" and page.qna %}
      <br />
      <h4 class="section-title">QnA</h4>
      <div class="overview-body">{{ page.qna | newline_to_br }}</div>
      {% endif %}
       -->

      <!-- File Links -->
      {% if page.file_url or (page.type == "ai_seminar" and page.ref_url) %}
      <h4 class="section-title attachment-title">첨부 파일</h4>
      <div class="activity-attachments">
        {% if page.file_url %}
        <a
          href="{{ page.file_url }}"
          target="_blank"
          class="activity-attachment-item"
        >
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <span
            >{% if page.type == "paper" %}Paper{% elsif page.type ==
            "conference" %}Presentation{% elsif page.type == "ai_seminar"
            %}Presentation{% endif %}</span
          >
        </a>
        {% endif %} {% if page.type == "ai_seminar" and page.ref_url %}
        <a
          href="{{ page.ref_url }}"
          target="_blank"
          class="activity-attachment-item"
        >
          <i class="fa fa-link" aria-hidden="true"></i>
          <span>Reference</span>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </section>
</article>
