name: Deploy Activity

on:
  push:
    paths:
      - 'data/activity/activity.zip'

jobs:
  unzip-and-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unzip activity.zip
        run: |
          unzip -o data/activity/activity.zip -d temp_activity

      - name: Clear old activity markdown files
        run: |
          rm -rf _posts/activity/*

      - name: Move markdown files to _posts/activity/
        run: |
          mkdir -p _posts/activity
          mv -f temp_activity/_posts/activity/*.md _posts/activity/ || true

      - name: Commit and Push
        run: |
          git config user.name 'github-actions'
          git config user.email 'github-actions@github.com'
          git add _posts/activity/
          git commit -m "[AUTO] Deployed activity.zip (markdowns)" || echo "No changes"
          git push https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/dlab-amc/dlab-amc.github.io.git HEAD:main
